/*** Loading Cormorant Garamond Font Family ***/

/* Unitalicized */

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: normal; /* i.e. 400 */
  font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-Bold.ttf') format('truetype');
  font-weight: bold; /* i.e. 700 */
  font-style: normal;
}

/* Italicized */

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-Italic.ttf') format('truetype');
  font-weight: normal; /* i.e. 400 */
  font-style: italic;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-BoldItalic.ttf') format('truetype');
  font-weight: bold; /* i.e. 700 */
  font-style: italic;
}

/*** Loading Montserrat Font Family ***/

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

/*** General Selectors ***/

* {
  font-family: Montserrat, 'Trebuchet MS', Arial, sans-serif;
  color: hsl(0, 0%, 100%);
}

html {
  background-color: hsl(0, 0%, 16%);
}

h1 {
  font-family: Garamond, 'Times New Roman', serif;
}

h2 {
  font-size: 2.0rem;
}

p, li {
  line-height: 1.6;
}

a {
  color: hsl(195, 99%, 65%);
}

a:hover {
  color: hsl(0, 0%, 100%);
}

a:active {
  color: rgb(254, 77, 92);
}

p, li {
  margin-top: 1.5rem;
}

.underline {
  margin-top: 0.75rem;
  height: .25rem;
  width: 120px;
  border-radius: 2px;
  background-color: hsl(148, 100%, 35%);
  border: hsl(148, 100%, 35%) 1px solid;
}

/*** Header ***/

/* Header Background */

header {
  position: relative;
  background: url("../images/cover-image.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

header:before { /* Color overlay over background image. */
  position: absolute;
  background-color: hsla(148, 60%, 10%, 0.75);
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
}

header * { /* Ensuring that header content shows up properly above color overlay. */
  position: relative;
}

/* Introductory Banner */

#intro-banner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: hsla(195, 80%, 7%, 0.75);
  border-radius: 20px;
  margin: 11%;
  padding: 4% 5%;
  column-gap: 5%;
  align-items: center;
}

#intro-banner .image-container { /* Container for my headshot in the website header. */
  grid-column: 1 / 2;
  border-radius: 50%;
  border: .375rem solid hsl(0, 0%, 100%);
  min-width: 190px;
  max-width: 240px;
}

#intro-text { /* Introductory text in website header. */
  grid-column: 2 / 4;
}

h1 { /* Website title (my name) in the website header. */
  font-size: 2rem;
  border-bottom: hsl(0, 0%, 100%) solid .125rem;
  padding: .125rem 0;
  letter-spacing: .125rem;
  font-weight: 500;
  margin-bottom: 1.25rem
}

#intro-banner ul { /* Container for my introductory descriptors in the website header. */
  list-style: none;
  padding: 0 1.5rem;
}

#intro-banner li { /* My introductory descriptors in the website header. */
  color: hsl(0, 0%, 62%);
  margin: 1rem 0;
  font-size: 1.125rem;
}

/*** Navigation ***/

nav { /* Container for navigation element to facilitate styling. */
  background-color: hsl(0, 0%, 6%);
}

nav div {
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 850px;
}

nav p, nav a {
  text-transform: uppercase;
  text-decoration: none;
  margin: 1rem 0;
  min-width: 80px;
  text-align: center;
  font-size: 0.875rem;
}

nav a {
  color: hsl(0, 0%, 100%);
  transition: transform 0.5s, color 0.5s;
}

nav a:hover, nav p {
  color: hsl(195, 99%, 65%);
  transform: scale(1.08);
}

nav a:active {
  color: rgb(254, 77, 92);
  transition: color 0s;
}

nav p { /* Current page. */
  cursor: default;
  line-height: 1;
}

/*** Main ***/

main, footer div {
  padding: 3rem 0;
  max-width: 700px;
  margin: auto;
}

/*** Footer ***/
footer {
  background-color: hsl(0, 0%, 8%);
}

footer p {
  color: hsl(0, 0%, 63%);
  max-width: 500px;
  min-width: 100px;
  font-size: .75rem;
  line-height: 1.8;
}

#copyright {
  margin-bottom: 1rem;
}